.banner {
  background: purple;
  h1 {
    font-size: 50px;
  }
}

.pics {
  object-fit: cover;
  width: 90%;
}

.image-container {
  width: 100%;
}

// words inside of banner

// SCSS chaining
// color & :hover

// a {
//   color: grey;

//   &:hover {
//     color: black;
//   }
// }
